@import url('https://fonts.googleapis.com/css?family=Raleway:100,600|Roboto:300,400,500');
@font-face{font-family:Source Sans Pro;
src:url('../fonts/SourceSansPro-Regular.ttf');}


body {
    font-family: Source Sans Pro;
    color: #000;
    font-size: 14px;
    
}

html {
    overflow-x: hidden;
}

p {
    font-size: 15px;
    line-height: 1.4em;
	 font-family: Source Sans Pro;
}

a:hover,
a:focus {
    color:#256CAA !important;
	
}

a {
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

h1,
h2,
h3,
h4,
h5 {
     font-family: Source Sans Pro;
    letter-spacing: 0px;
	float: left;
    width: 100%;
	margin-top: 5px;
margin-bottom: 5px;
}

ul {
    margin: 0;
    padding: 0;
}

ul li {
    list-style: none;
}

a:hover,
a:focus {
    text-decoration: none;
    outline: none;
}

a:not([href]):not([tabindex]) {
    color: #fff;
}

a:not([href]):not([tabindex]):focus,
a:not([href]):not([tabindex]):hover {
    color: #4676fa;
}

.section {
    padding: 80px 0;
}

.section-header {
    margin-bottom: 40px;
    text-align: center;
}

.section-header .section-title {
    font-size: 42px;
    margin-top: 0;
    text-transform: uppercase;
    font-weight: 100;
    color: #333;
    position: relative;
}
.navbar-brand{font-weight: 600;}
.navbar-brand span{font-weight: normal;}
.section-header .section-title span {
    color: #4676fa;
}

.section-header .section-subtitle {
    margin-top: 15px;
    color: #333;
    font-size: 14px;
    font-weight: 400;
}

.section-header .lines {
    margin: auto;
    width: 70px;
    position: relative;
    border-top: 2px solid #346afe;
    margin-top: 15px;
}

.section-header .lines:before {
    position: absolute;
    content: "";
    display: inline-block;
    height: 10px;
    width: 10px;
    top: -10px;
    border: 4px solid #fff;
    border-radius: 50%;
    background: #4676fa;
    left: 27px;
}

.btn {
    font-size: 14px;
    padding: 10px 30px;
    border-radius: 0px;
    font-weight: 400;
    color: #fff;
    text-transform: uppercase;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
    display: inline-block;
    font-family: 'Lato', sans-serif;
}

.btn:focus,
.btn:active {
    box-shadow: none;
    outline: none;
    color: #fff;
}


.back-to-top {
    display: none;
    position: fixed;
    bottom: 18px;
    right: 15px;
}

.back-to-top i {
    display: block;
    width: 36px;
    height: 36px;
    line-height: 36px;
    color: #fff;
    font-size: 14px;
    text-align: center;
    border-radius: 4px;
    background-color: #4676fa;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}


.bg-faded {
    background-color: #fff;
}


.navbar-nav .nav-link:focus,
.navbar-nav .nav-link:hover,
.navbar-nav .nav-link:hover:before {
    color: #1e588a ! important;
}

.navbar-nav .active>.nav-link,
.navbar-nav .nav-link.active,
.navbar-nav .nav-link.active:before,
.navbar-nav .nav-link.open,
.navbar-nav .open>.nav-link {
    color: #1e588a;
}

.navbar-toggler {
    background: #4676fa;
    border-radius: 0px;
    margin: 5px;
    cursor: pointer;
    float: right;
}

.navbar-toggler i {
    color: #fff!important;
}

.collapse.show {
    background: #f1f1f1;
    margin-bottom: 10px;
    -webkit-transition: 0.6s;
    -moz-transition: 0.6s;
    transition: 0.6s;
}

.navbar-toggler:active {
    border: 1px solid #4676fa;
    color: #4676fa;
}


#services {
    position: relative;
    background: url(../img/BG.png);
	padding-top:67px;
	background-size:100%;
	padding-bottom:0;
	margin-top:40px;
}

#services h2{margin-bottom:10xp;}
#services img{max-width:85%; width:100%;margin-bottom: -100px; margin-top:-20px;}


#features {
    background: #fff;
}

#features .icon {
    display: inline-block;
    width: 60px;
    height: 60px;
    border-radius: 4px;
    text-align: center;
    position: relative;
    z-index: 1;
}

#features .content-left {
    position: relative;
}

#features .content-left span {
    float: right;
    margin-left: 25px;
}

#features .content-right {
    position: relative;
}

#features .content-right span {
    float: left;
    margin-right: 25px;
}

#features .box-item {
    padding: 15px 0;
}

#features .box-item .icon {
    border: 1px solid #4676fa;
    text-align: center;
    margin: 12px;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

#features .box-item .icon i {
    color: #4676fa;
    font-size: 24px;
    line-height: 60px;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

#features .box-item .text h4 {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
}

#features .box-item .text p {
    font-size: 14px;
    line-height: 26px;
}

#features .box-item:hover .icon {
    background: #4676fa;
}

#features .box-item:hover .icon i {
    color: #ffffff;
}

#features .show-box {
    padding: 20px 0px 0px;
}

#features .show-box img {
    width: 100%;
}

.form-control {
    width: 100%;
    margin-bottom: 20px;
    padding: 12px;
    font-size: 14px;
    border-radius: 4px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    font-family: 'Lato', sans-serif;
	height:50px;
}

.form-control:focus {
    box-shadow: none;
    outline: none;
}

.btn.disabled,
.btn:disabled {
    opacity: 1;
}

#contact {
    position: relative;
    overflow: visibile;
	background: url(../img/binary.png);
	padding-top:100px;
	background-color: #f1f1f1;
	background-repeat: repeat-x;
    background-position: top;
    background-size: 25%;
	padding-bottom:250px;
	border-bottom:2px rgba(164,43,93,0.4) solid;
}

#contact .contact-block {
    padding: 30px;
    overflow: hidden;
}

#contact #contactForm {
    margin-top: 30px;
}


footer {
    background: #F2F7FC;
    padding: 60px 0px 30px;
    text-align: center;
	padding-top: 12em;
padding-bottom: 1em;
border-top: 3px solid #c8dff3;
border-bottom: 3px solid #c8dff3;
position:relative;
margin-top:0px;
}

footer .map-icons{position:absolute; top:-345px; width:100%; text-align:center;}
footer .map-icons img{max-width:30%;}
footer h3{color:#256CAA;}
footer h4{font-size:22px;}



.icon{text-align:center; margin-top:-100px; position:absolute; bottom:-40px; width:100%;}
.icon img{max-width:25%;}
.contact-form-main{padding:100px 0 40px; margin-bottom: 150px;}
.notification{position:absolute; left:100%; background:rgba(00,00,00,.5); display:none;}
.form-group:hover  .form-control .notification{ display:block; position:absolute; left:100%; background:rgba(00,00,00,.5);}

.form-group{position:relative;}
.progress1 {margin-bottom:20px; border:1px solid #999; padding:20px 10px;	}
table.table th{border:0;}
.footer-info-inner{margin:40px 0; float:left; width:100%;}
#contact h2 span{color:#A42B5D;}
#contact h3 span{color:#A42B5D;}
#contact h4 a{color:#000;}
.row{display:block;}
.navbar{margin-bottom:0; background:#fff; box-shadow: 0px 0px 3px 1px #6d6d6d;}
.nav > li > a{color:#222; text-transform:uppercase; font-weight: 600;}
.btn-default{color: #333; background-color: #e6e6e6; border-color: #adadad;}
.progress{margin-bottom:0;}

.navbar-toggle .icon-bar{background:#fff;}

.h-pera {
    text-transform: uppercase;
    font-weight: 300;
    color: #000;
    letter-spacing: .15em;
    font-size: 1.75em ! important;
    text-align: right;
    margin-top: -13%;
    margin-right: -4px;
    padding-bottom: 8px;
	margin: 0;
}
.p-pera1 {
    text-align: right;
    text-transform: uppercase;
	padding-bottom: 20px;
line-height: 1.5em;

}
.h-pera1  {
    text-transform: uppercase;
    color: #256CAA;
    letter-spacing: .15em;
    font-size: 1.1em;
    text-align: right;
    font-weight: 600;
   
	margin: 0 0 6px 0;
}


.floatr {
    font-size: .9em;
    background-color: #c8dff3;
    border-radius: .5em;
    text-align: center;
    padding: 20px;
    -webkitbox-shadow: 0px 3px 8px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.5);
    line-height: 1.5em;
}


.floatr h4 {
    font-size: 11pt;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
}

 .floatr #floattest {
    padding-top: 25px;
}
 .floatr #floattest p {
    
    text-align: right;
    font-size: .8em;
	line-height: 1.5em;
}
 .floatr #floattest blockquote {
    font-size: .9em;
    text-align: left;
    font-style: italic;
    border-left: 1px solid #256CAA;
    padding: 5px;
}

.box-pera b {
    font-size: 1.15em;
    text-transform: uppercase;
    color: #256CAA;
}

.box-pera strong {
    color: #000;
    font-weight: 600;
}

.graf-img img {max-width:100%;}

.SectionPart {
    font-size: 1em;
    text-align: center;
    font-weight: 800;
    color: #5a5a5a;
    margin-right: 1em;
}

.SectionPart h4 {
    text-transform: uppercase;
    margin: 0;
    font-size: 12px;
    font-weight: 600;
}
.SectionPart h5 {
    font-size:12pt;
    text-align: center;
    font-weight: 400;
    color: #256CAA;
    word-spacing: 30px;
	margin:4px 0px 3px 0;
}
 .SectionPart h6 {
    border-bottom: solid 2px #c8dff3;
    border-right: solid 2px #c8dff1;
	float:left;
	width:100%;
	margin:0px;
	font-weight: 600;
}

.numeb img {max-width:100%;}
.numeb {padding:0px;}
..numeb1 {padding-right:0px;}
.numeb1 a {
    color: #000;
    font-weight: 600;
}

.numeb1 p {
    font-size: 12px;
    line-height: 1.4em;
}



.littlemenu {
    padding-bottom: 15px;
}
#leftadj {
    padding-right: 4px;
}
.faded {
    max-width: 100%;
	opacity: .3;
}
.bigone {
  margin-top: -70%;
margin-left: -62px;
width:200%;
max-width:200%;
}


.pad-cl{
    padding-left: 10px;
    padding-right: 10px;
}
 .silt-box {
    background-color: rgba(200,223,243,0.7);
    border-radius: .5em;
    padding: 15px;
    -webkitbox-shadow: 0px 2px 8px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.5);
    position: relative;
    z-index: 1;
    text-align: justify;
    font-weight: 400;
	width: 70%;
margin: 0 auto;
    margin-top: 0px;
margin-top: 80px;
}


.silt-box  #mapnextup {
    font-weight: 600;
    font-size: 1.4em;
    text-align: center;
    margin-top: -.5em;
}
.silt-box a {
    text-decoration: none;
}

.ne-pd{padding-top:40px;}

.box-img img{max-width:100%;}


.text p {
    color: #000;
    font-size: 1em;
    text-align: justify;
    text-transform: none;
    font-weight: 400;
    margin-left: 5px;
    margin-right: 5px;
    padding-bottom: 20px;
    line-height: 1.5em;
}

.im-10 {
    margin-left: -38px;
}
.bigone1{margin-top: -89%;
margin-left: -36px;
max-width: 220%;
width: 220%;}

.text{margin-top:15px;}
.p-do{padding:0px;}

.ul-list ul { list-style: circle;  padding-left: 30px;  font-size: .85em;   margin-top: -2em;  line-height: 1.4em;  text-align: left;}
.ul-list ul li { list-style: circle; }
.n-sect-ol{    background: rgba(11,32,51,0.9);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(11,32,51,0.9)), color-stop(50%, #216199), color-stop(100%, rgba(11,32,51,0.85)));
    background: linear-gradient(to bottom, rgba(11,32,51,0.9) 0%, #216199 50%, rgba(11,32,51,0.85) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0b2033', endColorstr='#0b2033', GradientType=0 );
    padding-top: 100px;
    padding-bottom: 15em;
    color: #FFF;
}
.linnimail {color:#000;}
.footer-info-inner a {color:#000;}
.vs-section2 a {color:#fff;}
.width-70 a {color:#000;}
.color-sl { background-color: #fff;  padding: 4px;   font-size: 10px;   border: 1px solid rgba(0,0,0,.17);
}
.dwi-4 a{color:#000;}
.men-hel{height:549px !important; padding-top: 44px ! important;}
.background-color1 {background-color:rgba(241,148,138,0.7);}
.clor-ind1{color: #000 ! important;}
.clor-ind{color: #256CAA;}
.n-sect-ol a {   color: #FFF;}
.in-mg-pod{margin-bottom:10px; margin-top:10px;}
.in-mg-pod a{color: #A42B5D;}
.in-pul{margin-left: -20px; color: #A42B5D;}
.unco-om{margin-left: 15%;}
.wit{color:#fff ! ;}
.n-sect-ol h4 {
    font-weight: 600;
    font-size: 1em;
    text-transform: uppercase;
    color: #FFF;
	text-align:left; font-size: 1.25em;
}
.n-sect-ol h5{text-align:left;}

.box-pera-1{border-left: 1px solid #cfcfcf;
float: left;
width: 100%; }
.box-pera-1 p{text-align: justify;
line-height: 1.5em;
font-size: 1.1em;
color: #FFF;
font-weight: 300; margin: 10px -70px 0 20px; 
width: 100%;}

.image0image {
    float: right;
    padding-left: 15px;
    margin-top: 8px;
  margin-right: -10px;
    width: 25%;
}


.floatr{
    line-height: 1.6em;
    background-color: #c8dff3;
    border-radius: .5em;
    text-align: right;
    padding: 0 15px 30px;
    -webkitbox-shadow: 0px 3px 8px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.5);
	float: left;
margin-left: 10px;
	
}
.floatr.floatr1{
    line-height: 1.6em;
    background-color: rgba(255,255,255,0.05);
    border-radius: .5em;
    text-align: right;
    padding: 0 15px 30px;
    -webkitbox-shadow: 0px 3px 8px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.5);
	float: left;
margin-left: 10px;
	
}

.floatr p{font-size:14px;}

.floatr h4{    padding-top: 25px;
    font-size: 1em;
	
}
.floatr h5 {
    font-size: .99em;
	text-align: right;
}

.floatr h6 {
       font-size: .75em;
    font-style: italic;
	text-align: right;
}
.floatr.floatr1 h4{text-align:right;}

.background-non{background:none ! important;}
.bigone2 {
    margin-top: -93%;
margin-left: -42px;
width: 220%;
max-width: 220%;
}

.footer-bottom{padding:50px 0; background:#efefef;}
.footer-bottom img{width:130px;}
.footer-bottom-inner{padding:30px; border-left:1px solid #ddd; float: left; width: 100%;}
.inner-menu{background-color: white;
    font-weight: 400;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: .5em;
    -webkitbox-shadow: 0px 3px 8px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.5); margin-top:60px; float:left;}
	
#features{padding-bottom:0;}
#features1 .section-header img{max-width:40%;}
#moon{padding-top:0; padding-bottom:300px; margin-top:40px;}
#moon .section-header{background-image: url('../img/Moon.png'); background-size: 66%; background-repeat: no-repeat; background-position: center; padding: 227px 0 0px; height: 470px; margin-top: -123px;}
#moon .section-header h2{color:#fff;}
#moon .section-header p{color:#fff;}
.flag-section{background-image:url(../img/flag.png); background-size:5%; background-repeat:repeat-x; background-position:top; padding-top:90px;}
#lets-started{padding:0 0 200px; background-image:url(../img/road.png); background-repeat: repeat-y; background-position: center top; background-size: 45%;}
#lets-started .section-header img{max-width:25%; margin-top:-230px;}

.steps{margin-top:50px; float:left; width:100%;}
.steps h4{font-weight:600;}
.steps h5{font-weight:600; color:#256CAA;}
.steps img{max-width:100%;}
.steps-inner img{max-width:100%;}
.steps-bottom  .silt-box.background-non{background-color:rgba(200,223,243,0.5) !important; margin:100px auto;}
.money-section{padding:5em 0; background-image:url('../img/flags.png');}
#fees{background:#EFFFF4; padding-top:0; margin-top:60px;}
#fees .section-header{background-image: url('../img/Scale.png'); padding: 30em 0; background-size: 65%; background-position: center; background-repeat: no-repeat; margin-top:-200px;}
#fees .width-left{margin-top:-300px;}
#fees #headerfees{background-color: rgba(170,205,138,0.3); border-radius: .5em; padding: 25px; margin: 50px 0; -webkitbox-shadow: 0px 3px 8px 0px rgba(0,0,0,0.5); box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.5); text-align: justify; line-height: 1.4em;}
#fees .fees-bottom{margin-top:15px;}
#fees #feejust .width-70{width:70%; margin: 0 auto;}
#fees #feejust .width-70 h6{text-transform:uppercase; font-size:20px; color:#1e588a; margin-top:20px;}
#fees .silt-box.background-non{margin-bottom:150px; background-color:rgba(170,205,138,0.3) !important;}
#d-process{padding-top:0;}
#d-process .lab-section{padding:10em 0; background-image:url('../img/Lab.png'); background-repeat:no-repeat; background-position:center; margin-top:-86px;}
#d-process .section-header img{max-width:18%; margin-top:-135px;}
#d-process .way-section img{max-width:100%;}
#pod{background-image:url('../img/Space.png'); color:#fff;}
#pod .section-header{margin-top:-310px;}
#pod .section-header h2{color:#fff;}
#pod .section-header h4{color:#fff;}
#pod .section-header p{margin:30px 200px;}
#pod .section-header img{max-width:30%;}
#pod .vs-section1{background-color: rgba(231,76,60,0.35); border-radius: .5em; padding: 15px; -webkitbox-shadow: 0px 3px 8px 0px rgba(0,0,0,0.5); box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.5); float:left; width:100%;}
#pod .vs-section img{max-width:100%; margin-top:100px;}
#pod .vs-section2{background-color: rgba(46,204,113,0.35); border-radius: .5em; padding: 15px; -webkitbox-shadow: 0px 3px 8px 0px rgba(0,0,0,0.5); box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.5); float:left; width:100%;}
#pod .vs-section3{background-color: rgba(200,223,243,0.25); border-radius: .5em; padding: 15px; -webkitbox-shadow: 0px 3px 8px 0px rgba(0,0,0,0.5); box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.5); float:left; width:100%;}


#pod .silt-box{margin:200px auto 100px;}
#pod .silt-box a{color:#fff;}

#md-101{background: url(../img/Confetti.png);  background-repeat: repeat-x; background-position: top; background-color: rgba(200,223,243,0.5); padding-top: 165px;  padding-bottom: 25em;}
#md-1010{background: url(../img/StarRain.png); background-color: #FFFFF0;  background-repeat: repeat-x; background-position: top;  padding-top: 165px;  padding-bottom: 15em;}
#md-101 .section-header{background-image:url('../img/Grad.png'); padding: 310px 0; background-size: 30%; background-repeat: no-repeat; background-position: center; margin-top:-290px;}
#md-101 .section-header h2{margin-top:-30px;}

#md-1010 .section-header{background-image:url('../img/BigStar.png'); padding: 310px 0; background-size: 45%; background-repeat: no-repeat; background-position: center; margin-top:-354px;}
.header-new{background-image: url('../img/ThumbsUp.png');padding: 43px 0;  padding-top: 43px;  padding-right: 0px;  padding-bottom: 43px;  padding-left: 0px;background-size: 16%;
background-repeat: no-repeat;
background-position: center;
width:100%;

position: relative;
float: left;}
	.header-new{    margin-bottom: 40px;
    text-align: center;
}
.inner-menu .activ a{color: #ff3333;}
.inner-menu a{padding-left: 10px;
margin-bottom: 5px;
float: left;
color: #000;
text-transform: uppercase;
}
.inner-menu a.active{color:rgba(255,0,0,0.8);}

.new-tag-1{padding-bottom: 50px; text-align: center; color: #000; font-size: 1.35em; text-transform: none; font-weight: normal;}

.new-tag-2{text-transform: uppercase; font-weight: 300; letter-spacing: .1em; font-size: 3em; line-height: 1.1em; text-align: center;}
.pera-87 p {font-size: 19px; line-height: 1.1em !important; font-style: italic;}
#one-pera { width: 90%;}
#one-pera span{font-weight:600; color: #256CAA;}
.boxes-1 p{ float: left; font-size: .9em; line-height: 1.5em; color: #000; background-color: #ffffe1; border-radius: .5em; padding: 15px;-webkitbox-shadow: 0px 2px 8px 0px rgba(0,0,0,0.5);box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.5);text-align: justify;}
.pad-01{padding:0px;}
.boxes-1 p span { color: #256CAA;   font-weight: 400;}
.pd-m{padding-top:20px;}
.header-new p{padding-top:40px; color: #256CAA;}
.header-new a{padding-top:40px; color: #000;}
.boxes-2.pd-m { width: 83%;    float: left;}
.boxes-2 p{font-size: .9em; text-align: justify;} 
.pd-m h4{margin-bottom:10px}
.Symbol-p {  width: 50%;  margin-top: 130px;}
 .box-pera-last{background-color: rgba(200,223,243,0.5);border-radius: .5em;padding: 15px;-webkitbox-shadow: 0px 2px 8px 0px rgba(0,0,0,0.5);box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.5);font-size: .8em;
text-align: justify;
margin-top: 17%;
margin-right: 5%;}
.text-bottom{font-size: 12px;}
.text-bottom span{font-weight: bold ;}
.faded.im-11 {  margin-left: -29px;}
.im-12 {  margin-left: -23px;}
.bigone3{margin-left: -43px ! important; max-width: 200%;
width: 200%;
margin-top: -40px;}
#md-1012{    background: url(../img/Paper.png); background-repeat: repeat;   background-position-x: 0%;  background-position-y: 0%;   background-size: auto auto;  background-repeat: repeat-y;   background-position: top;   background-size: 100% auto;    padding-top: 275px;    padding-bottom: 18em;  border-top: solid 2.5px rgba(255,182,182,0.75);    border-bottom: solid 2.5px rgba(255,182,182,0.75);
}
#md-1012 .section-header{background-image:url('../img/Check.png'); padding: 310px 0; background-size: 45%; background-repeat: no-repeat; background-position: center; margin-top: -400px;padding-top: 153px;}
#md-1012 .section-header12{background-image:url('../img/Check-No-G.png'); padding: 310px 0; background-size: 45%; background-repeat: no-repeat; background-position: center; margin-top:-492px;padding-top: 153px;}
.section-title-new {text-transform: uppercase;font-weight: 300;letter-spacing: .1em;font-size: 3em;line-height: 1.1em;text-align: center; margin-top: -50px;}
.text-uppercase-new{text-align: center;color: #000;font-size: 1.35em;line-height: 1.2em;text-transform: none;font-weight: 300 ! important; padding-left: 175px;padding-right: 175px;}
.h-4{font-size: 1em;text-transform: uppercase;font-weight: 600;text-align: center; padding-top: 1em; padding-bottom: 0.5em;}
.new-tag img{max-width: 100%;padding: 10%;padding-bottom: 0px;}
.four-box .text p{font-size: .9em;text-align: justify;text-transform: none;font-weight: 400;}
.header-new1{background-image: url('../img/Missouris.png');
background-size: 16%;background-repeat: no-repeat;background-position: center;
position: relative;
float: left; height: 185px;}
.background-color{background-color:rgba(241,148,138,0.7) ! importants;}
.pera-left h4 { color: #256CAA;  font-size: 1em;  font-weight: 600; text-align: left;  margin-top: -7px; text-transform: uppercase;}
.pera-left p { font-size: 12pt; text-align: justify;padding-bottom: 45px;line-height: 1.4em; }
.full-box-img img{display: block; float: left; width: 100%; -webkitbox-shadow: 0px 2px 8px 0px rgba(0,0,0,0.5); box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.5);}
.left-pd{padding-left: 0px;}
.right-pd{padding-left: 0px;}
.right-pd1 p{margin-left: 2em;}
.right-pd1 h4{text-align: right;}
#gbooks {
    z-index: 9999;
    position: absolute;
    width: 100%;
    margin-left: 36%;
}
.boxsec-1 p a{font-weight: 600;
text-transform: uppercase;
font-size: 1.25em;
line-height: 1.75em;}
.boxsec-1 p
{   margin-top: 50px;
    font-size: 1.1em;
    color: #000;
    text-align: left;
    padding: 2em 2em 2em 18em;
    background-color: rgba(200,223,243,0.75);
    border-radius: .5em;
    -webkitbox-shadow: 0px 3px 8px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.5); margin-left: -28%;
}
.crton-box {
    float: left;
	padding-bottom:100px;
}
img{max-width:100%;}

.footer-bottom-inner h2 a{color:#000;}

.marh-112 { position: absolute;  margin-top: 18px !important;	max-width: 67% !important;}

.devi-section{height: 514px ! important;}


.dwi-1{text-transform: uppercase;font-weight: 200;letter-spacing: .15em;font-size: 2em; text-align:left;}
.dwi-2{padding-bottom: 10px; text-transform: uppercase;font-weight: 400;letter-spacing: .15em;font-size: 1em;color: #2C5CA3; text-align:left; margin-top: 0px;}
.dwi-3 p{padding-top: 10px;text-transform: none;font-weight: 300;font-size: 1em;padding-right: 0px;text-align: justify;}
.dwi-3 strong{font-weight: 600; padding-right: 10px; text-transform: uppercase;}
.dwi-4{margin-left: 0px !important;}
.dwi-4 h4{text-align:right !important;}
.dwi-4 blockquote {font-size: .9em; text-align: right ! important; font-style: italic;border-right: 1px dotted #2C5CA3;padding: 4px;line-height: 1.5em; border-left:none !important; text-align: right;}
.dwi-rod{max-width:10%;}
.dwi-pd{padding-left:0px;}
.aw-img-1 { width: 22%;   float: left;}
.dwi-pd p{line-height:25px ! important;}
#md-101dw{ margin-top: 50px; background:  linear-gradient(to bottom, rgba(200,223,243,1) 0%,rgba(200,223,243,0.8) 20%,rgba(200,223,243,0.6) 40%,rgba(200,223,243,0.45) 60%,rgba(200,223,243,0.35) 80%,rgba(200,223,243,0.3) 100%); background-repeat: repeat-x; background-position: top;  padding-top: 165px;  padding-bottom: 15em;}
#md-101dw .section-header{background-image:url('../img/Stars.png');  background-size: 45%; background-repeat: no-repeat; background-position: center; margin-top: -171px;
margin-top: -195px;
height: 358px;}
.dwi-li-dw img{width: 100%; display: block; padding-left: 250px; padding-right: 250px; margin-top: -167px; }
.dwi-pd-left{padding:0px;}
#md-101dw .boxes-1 p{background-color: #fff;}
.sw-setion{margin-bottom: 0px;}

.dw-pe-y{width:60%; margin:0 auto;}
.dw-pe-y p{margin-top: 13%;   font-size: 1em;}
.dw-pe-y p a{font-weight: 400;
font-size: 1.2em;
word-spacing: 2px;
line-height: 1.25em; color:#000;}
.dwi-title img {max-width: 16% !important;}
.dwi-title {  text-align: center;  z-index: 0000;   position: absolute;  width: 60%;}
#md-101211{     background-color: #FFF;  padding-bottom: 18em;  border-top: solid 1px #DCDCDC;    
}
#md-101211 .section-header { background-image: url('../img/Suitcase.png');  padding: 310px 0;     padding-top: 310px; background-size: 18%;  background-repeat: no-repeat;  background-position: center;
    margin-top: -239px;
padding-bottom: 0px;}
#straightline {
    border-top: 1px solid #cfcfcf;
    padding-bottom: 10px;
}
.dwi-new-section h4{font-size: 1.25em;}
.box-pera-2 p{padding-bottom: 20px;
font-size: 1.1em; color:#000 ! important;}
.dwi-new-section h5 a{font-weight: 400;font-size: 1em;text-transform: uppercase;
color: #000;}
.box-pera-2{margin-top: 20px;
float: left;}
.dwi-imh10 {float: right;
padding-left: 15px;
margin-top: 8px;
margin-right: -22px;
width: 20%;}
.floatr .floatr2 {line-height: 1.6em;   background-color: rgba(255,255,255,0.05);    border-radius: .5em;   text-align: right;   padding: 0 15px 30px;   -webkitbox-shadow: 0px 3px 8px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.5);
    float: left;
margin-left: 10px; text-align:right;}
   .floatr.floatr2 h4 {  text-align: right;}
   .dwi-len p {
    background-color: rgba(200,223,243,.8) !important;
}
.margin-dwi{margin-bottom:40px;}

#md-102dw{background: url(../img/Square.png);
    background-color: rgba(0, 0, 0, 0);
background-color: rgba(200,200,200,.4);
padding-bottom: 150px;
border-bottom: solid 1px #DCDCDC;}
.dwi-55-top{margin-top:123px ! important;}
.dwi-55-top1{margin-top:0px ! important; font-size: 4em !important;}

#md-102dw .section-header{background-image:url('../img/Guide.png'); padding: 310px 0;  background-repeat: no-repeat; background-position: center; margin-top:-380px;}
#md-102dw .section-header h2{margin-top:-30px;}
.introtwo{width: 80%;
margin: 0 auto;
text-align: left ! important; }
.introtwo{margin-top:20px;}
.introtwo1{margin-top:20px;}
.div-col-sm p{text-align: center;text-transform: uppercase;font-size: .8em;font-weight: 400;line-height: .9em; margin-top:10px;}
.div-col-sm  img{max-width:100%;}
.div-col-sm {
  margin-top:30px;
    padding-left: 0;
}
.pd-dwipo{padding-left: 0px;
padding-right: 0px;}
.dwi-pera-last h4{font-size: 2em;font-weight: 300;text-transform: uppercase;padding-bottom: 5px;}
.line-12{text-transform: uppercase;font-size: 1.15em;font-weight: 400;color: #2C5CA3;}
.dwi-pf-100 h5{font-weight:600; }
.dw-img-po{max-width:100%;}
.dwi-pf-100 p { text-align: justify;}
.dwi-new-box{background-color: rgba(255,255,255,.75);margin-top: 50px;margin-bottom: 50px;padding: 40px;border-radius: .5em; float: left;
width: 90%; box-shadow: -3px 4px 10px 2px rgba(61,61,61,0.35);}
.new-dwi-pera-ls h4{text-align:right;}
.h-5dwi-right {text-align:right;}
.new-dwi-pera-ls p{text-align:right;}
.leftdw-col{margin-left: -125px;background-color: rgba(200,223,243,.85);border-radius: .5em;padding: 30px;-webkit-box-shadow: 0px 3px 12px 1.5px rgba(61,61,61,0.4);-moz-box-shadow: 0px 3px 12px 1.5px rgba(61,61,61,0.4);box-shadow: 0px 3px 12px 1.5px rgba(61,61,61,0.4);
z-index: 0;margin-top: 20px;}
.new-cl-dwi{height: 600px;}
.leftdw-col h5{    text-align: center; font-size: 1.4em; padding-bottom: 15px;}
.rightdwo-co h5{    text-align: center; font-size: 1.4em; padding-bottom: 15px;}
.rightdwo-co p{    text-align: justify;}
.leftdw-col p{    text-align: justify;}
.hedding-po{font-size: 3.5em ! important; margin-top: 89px !important;}
.rightdwo-co{ margin-top: 20px;   margin-right: -125px;background-color: rgba(200,223,243,.85);border-radius: .5em;padding: 30px;-webkit-box-shadow: 0px 3px 12px 1.5px rgba(61,61,61,0.4);-moz-box-shadow: 0px 3px 12px 1.5px rgba(61,61,61,0.4);
box-shadow: 0px 3px 12px 1.5px rgba(61,61,61,0.4); z-index: 0;}
.dwi-dwi-box-n { margin-top: -100px !important;background-color: rgba(235,235,235,.75); border-radius: .5em; padding: 30px;  -webkit-box-shadow: 0px 3px 12px 1.5px rgba(61,61,61,0.4);  -moz-box-shadow: 0px 3px 12px 1.5px rgba(61,61,61,0.4); box-shadow: 0px 3px 12px 1.5px rgba(61,61,61,0.4);  z-index: 1;width:60%;margin:0 auto;}
   .dwi-dwi-box-n h6 {font-size: 1.4em;font-weight: 400;   text-align: center;   padding-bottom: 10px;}
   .dwi-dwi-box-n ul li {list-style:square; text-align:justify;}
	 .dwi-s-89p p {    font-size: 1em;    color: #000;   background-color: rgba(200,223,243,.8);   border-radius: .5em; padding: 25px 15px 15px;  margin: 0;-webkit-box-shadow: 0px 5px 15px 2px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 5px 15px 2px rgba(0,0,0,0.25); box-shadow: 0px 5px 15px 2px rgba(0,0,0,0.25);}
.dwi-s-89p a {   color:#000; font-weight: 400;   font-size: 1.2em;  word-spacing: 2px;  line-height: 1.25em;  margin-bottom: 5px; float: left;width: 100%;}
.dwi-s-89p{width:70%; margin:0 auto;}
.nef{
font-size: 1.5em ! important;
}
#md-102bw .section-header {  background-image: url('../img/Board.png');   padding: 310px 0;    background-repeat: no-repeat;  background-position: center;  margin-top: -380px;}
#md-102bw{   background-color: #fff;   padding-bottom: 150px;  border-bottom: solid 1px #DCDCDC;}
.pera-dw-oipd{text-align: center;padding-top: 45px;font-weight: 400;text-transform: none;}
.font-aw a{  color:red  ;  width: 5%;  margin: 0 auto; 
    font-size: 15px;
    text-align: center;
	
}
.font-aw{width: 5%;  margin: 0 auto; margin-top:5px; border: 1px solid rgba(0,0,0,.17);
text-align: center; border-radius:3px;}
.dwi-bom li {    font-size: .9em;font-weight: 300;color: #000;	list-style:square; 	text-align:justify;	line-height: 1.75em;}
.dwi-bom a{color: #000;}
.dwi-bom{margin-top:50px;}
.box-dwi-perl h4{border-radius: 0em;text-transform: uppercase;color: #000;letter-spacing: .125em;font-size: 1em; padding: 10px;
font-weight: 400; background:linear-gradient(to right, rgba(200,223,243,1) 0%, rgba(255,255,255,1) 100%);}
.box-dwi-perl {  margin-top: 50px;}
.box-dwi-per2 p{font-size: 1em ! important; font-weight: 400;margin-left: 15px;margin-top: 10px;background-color: rgba(210, 210, 210, 0.15);border-radius: 0em;
padding: 15px;
-webkit-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.2);
-moz-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.2);
box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.2);float: left;
width: 100%;
line-height: 24px;}
.box-dwi-per2 strong {
    color: #2C5CA3;
}
.back{text-align:center; margin-top:20px; margin-bottom:10px;}
.back a{font-weight: 400;color: #000;font-size: 12pt;}
.box-dwi-per2 p a{color: #000;}
.header-new2{ background-repeat: no-repeat;background-position: center; position: relative; float: left; height: 120px;
margin-top: 50px;}
.box-pera-2 a{color:#000 ;}
#md-10112{background: rgba(46,204,113,.15);
    background-color: rgba(0, 0, 0, 0);
background-color: rgba(200,200,200,.4);
padding-bottom: 150px;
border-bottom: solid 1px #DCDCDC;}
#md-10112 .section-header{background-image:url('../img/Money.png'); padding: 310px 0;  background-repeat: no-repeat; background-position: center; margin-top:-380px;}
#md-10112 .section-header h2{margin-top:-30px;}
#md-10112 .dwi-55-top1{margin-top: 73px !important;}
	.spandwi-color{color: #1e588a;}
.one-weldw{text-align: justify;line-height: 1.25em;font-size: 1.1em;color: #000;}
.dw-box-color h3{font-size: 1.75em;text-transform: uppercase;padding-bottom: 10px;text-align: center;color: #000;}
.dw-box-color{background-color: rgba(255,255,255,1); border-radius: 2em;padding: 25px;margin: 50px 0;-webkit-box-shadow: 0px 4px 10px 2px rgba(0,0,0,0.2);
-moz-box-shadow: 0px 4px 10px 2px rgba(0,0,0,0.2);
box-shadow: 0px 4px 10px 2px rgba(0,0,0,0.2); float: left;
width: 100%;}
.dwi-mn-12 h5{font-size: 1.25em;
padding-top: 3px;
text-align: center;
color: #000;}
.dwi-mn-12 h4{font-size: 1.5em;
padding-top: 5px;
padding-bottom: 5px;
text-align: center;
color: #000;
font-weight: 400;
text-transform: uppercase;}
.new-jj h6{color: #1e588a;
text-align: left;
text-transform: uppercase;
font-size: 1.25em;
font-weight: 400;}
.new-jj p{text-align: justify;
line-height: 1.25em;
font-size: 1.1em;
color: #000;}
.margn-top-dwilo{margin-top:40px; margin-bottom:40px; background-color:#fff;}
.margn-top-dwilo p{ background-color:#fff;}
.inner-menu1 .navbar-right{width:100%; text-align:center;}
.inner-menu1 .nav.navbar-nav.navbar-right li{float:none; display:inline-block; padding-left:20px; padding-right:20px;}
.contact-2{font-size: 1.5em;}
.new-compass{top: -292px ! important;}
.contact-l{
text-transform: uppercase;
font-weight: 200;
letter-spacing: .15em;
font-size: 3.5em;
text-align: center; margin-top: -62px;}
.dwi-box-st{margin-top:50px;}

.ma-dwih p{text-align:left; font-weight:normal;}
.ma-dwih p a{color:#000;}
.img-dw-p-45 {   max-width: 60% !important;}
.background-dw--color{background-color:#fff;}
.color-p-dwi a{color:#000;}
.stlo-h1{font-size: 2.6em; line-height: 1.25em; padding-bottom: 10px; padding-top: 5px; color: rgba(70,70,70,1);}
.stlo-h3{font-size: 2em; line-height: 1.2em;font-weight: 300;color: rgba(70,70,70,.5);}
.stlo-h2{font-size: 2.2em; line-height: 1.3em;color: rgba(70,70,70,.75); }
.stlou-img{margin-top: 52px !important;}
.stlou-img-p{height: 605px !important;}
.color-sl{color:red;}
.background-dw--color1{background-color:#fff; border:none; margin-top:120px;}
#moon1{margin-bottom:50px;}
#d-process1{margin-bottom:80px;}
#lets-started1{margin-bottom:120px;}
.cd-top{position:fixed; right:15px; bottom:40px; background:#333; color:#fff; padding:10px;}
#Privacy-Policy{background-color: rgba(200,223,243,0.5);padding-top: 50px;padding-bottom: 150px;text-align: center;}
.ind-x1{padding-bottom:5px; color: #323232;} 
.ind-x{color:rgba(50,50,50,0.5);}
.logo-in{color:#000;}
    .box-pera p{text-align: justify; padding-bottom: 20px;  line-height: 1.5em;}
	.ne-pd a{color:#000;}
	.ind-a{color:#fff ! important;}
	.pera-87.n-1 {width: 71% ! important;
float: right;
margin-top: -206px;}
.pera-87{margin-top:-206px;}
.mar-dwi-top{margin-top:50px;}
.footer-dwi{margin:0px;}
.color-sl i{color:red;}
#Missouri-Uncontested{background: linear-gradient(to bottom, #fdff91 0%, rgba(253,255,191,0.74) 17%, rgba(255,255,255,0.19) 52%, rgba(255,255,255,0.16) 54%, #fff 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdff91', endColorstr='#ffffff',GradientType=0 );
padding-top: 5em;
padding-bottom: 15em;}
.stlonew-h3{font-size: 2.5em; font-weight: 300;
}
.be-pdwi {font-weight: 600;
font-size: .8em;
text-transform: uppercase;
text-align: center;}
.be-pdwi a{color:#000;}
.h3dw-fl span{color: #A42B5D ! important;}
.h3dw-fl{line-height: 1.2em;text-transform: none;font-weight: 600;font-size: 1.25em;
margin-top: 1em;
padding-bottom: 1em;}
.stlo-hp4{color: #A42B5D ! important;letter-spacing: .15em;line-height: 1.1em; font-size: 1.35em; text-transform: uppercase;}
.stlo-hp {  font-size: 12pt;    color: #000; padding-bottom:50px;}
.underpage1{text-align: justify; text-transform: none; padding-bottom: 35px; margin-top: -1em;}
.underpage { width: 65%;    margin: 0 auto;      margin-top: 0px;  margin-top: 20px;}
#intakeleft {width: 37%;
float: right;
padding-right: 5%;
padding-top: 14%;}
.di-dpc h4{font-weight: 600;
font-size: .8em; margin-top:10px; }
.di-dpc a{color:#000; }
.new-cl-inde img{margin-top:-182px ! important;}
.ne-pd a:hover {
    color: #256CAA ;
}
.width-left p{text-align:justify;}
.width-70 p{text-align:justify;}
.vs-section p{text-align:justify;}
.box-dwi-per2 p{text-align:justify;}
.one-weldw {text-align:justify !important;}
.steps{text-align:justify;}
.navbar-brand {font-size: 1.5em;}
.bol-d{font-weight: 500;
padding-right: 10px;
text-transform: uppercase;}
#missouri-uncontested-divorce-checklists{background: linear-gradient(to bottom, #d89394 0%, rgba(211,177,177,0.77) 15%, rgba(255,255,255,0.19) 52%, rgba(255,255,255,0.16) 54%, #fff 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d89394', endColorstr='#ffffff',GradientType=0 );
padding-top: 10em;
padding-bottom: 10em;}
.cl-ich li i{color:red;}
.The-Divorce1 i{color:red;}
.The-Divorce i{color:red;}
.The-Divorce1 h1{font-weight: 400; color: #000; font-size: 25px;}
.The-Divorce1{padding-top:60px; float:left; width:100%;}
.The-Divorce h1{font-weight: 400; color: #000; font-size: 25px;}
.The-Divorce1 p{font-size: 1em; line-height: 1.5em; margin-left: 3em; margin-top: .6em; float: left; width: 100%;text-align: justify; margin-bottom: 2em;}
.The-Divorce p{font-size: 1em; line-height: 1.5em; margin-left: 3em; margin-top: .6em; float: left; width: 100%;text-align: justify; }
.footer-bottom-inner h2{letter-spacing: .15em;}
.recaps-one{font-size: 1em !important;
margin-left: 8em !important;
margin-bottom: 1em;
line-height: 1em !important;}
.The-Divorce ul{list-style: square; line-height: 1.75em;}
.The-Divorce li{list-style: square; margin-left: 10em;
margin-right: 5em;
line-height: 1.5em;}
.h-list-demo{margin-left: 26px; font-weight:400;font-size:18px ! important;margin-bottom:0px;}
.h-list-demo i{color:#000;}
.ban-home-in{background-size: 16%;}
#Missouri-Uncontested-Divorce{background: linear-gradient(to bottom, #c8dff3 0%, rgba(220,232,242,0.77) 15%, rgba(255,255,255,0.19) 52%, rgba(255,255,255,0.16) 54%, #fff 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c8dff3', endColorstr='#ffffff',GradientType=0 );
padding-top: 5em;
padding-bottom:15em;}
.new-dl-menu .nav > li > a{padding: 15px 13px;}
.new-dl-menu .nav > li > a i{color: #256CAA;}
#Missouri-Uncontested-Divorce .stlo-hp4{font-size:18px; color: #256CAA ! important;}
#Missouri-Uncontested-Divorce1 .section-header12{background-image: url('../img/divorce-bus.png');

background-size: 25%;
background-repeat: no-repeat;
background-position: center;
margin-top:-323px;
height: 45em;
position:relative;
z-index:999;
}
#Missouri-Uncontested-Divorce1{background-color:#fff; padding-bottom: 18em; }
 .top-background {
    background: white;
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #fff), color-stop(46%, rgba(255,255,255,0.16)), color-stop(48%, rgba(255,255,255,0.19)), color-stop(74%, rgba(220,232,242,0.77)), color-stop(100%, #c8dff3));
    background: linear-gradient(to bottom, #fff 0%, rgba(255,255,255,0.16) 46%, rgba(255,255,255,0.19) 48%, rgba(220,232,242,0.77) 74%, #c8dff3 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#c8dff3', GradientType=0 );
    height: 150px;
 margin-top: -7em;}
 .section-title-Divorce{text-transform: uppercase; font-weight: 300; letter-spacing: .1em; font-size: 2.8em; line-height: 1.1em;
text-align: center;}
.text-uppercase-Divorce1{font-weight: 300; padding-bottom: 50px; text-align: center; font-size: 1.35em;}
.new-ul-star ul li{font-size: 12pt;}
.new-ul-star ul{font-weight: 400;
margin-left: 60px; line-height: 1.75e}
.new-ul-star h3{color: #256CAA ; font-size: 12pt ;}
.new-ul-star i{color: #000; }
.new-ul-star a:hover{color: #256CAA ! important; }
.new-cl-inde {
    float: left;
width: 100%;}
#Missouri-Uncontested-last .section-header {background-image: url('../img/bulb.png'); padding: 310px 0;   background-size:22%;  background-repeat: no-repeat;
    background-position: center;
margin-top: -548px;}

#Missouri-Uncontested-last {
    background: url(../img/faqflags.png);
        background-color: rgba(0, 0, 0, 0);
        background-repeat: repeat;
        background-position-x: 0%;
        background-position-y: 0%;
    background-color: #FFFFF0;
    background-repeat: repeat-x;
    background-position: top;
    padding-top: 165px;
padding-bottom: 15em; margin-top: 5em;}
.new-tag-3{text-transform: uppercase;font-weight: 300;letter-spacing: .1em;font-size: 2.8em !important;line-height: 1.1em;text-align: center; margin-top: 222px ! important;}


.missouri{margin-top:50px;}
.missouri p{margin-left:50px; padding-bottom: 15px; font-size: 1.15em; margin-top:10px; float: left;
width: 100%;}
.missouri p strong{color:#256CAA;}
.missouri .The-Divorce li{list-style: none; 
margin: 0px !important;
line-height: 1.5em; font-size:12pt;}
.missouri .recaps-one{margin-left: 50px !important; font-size:12pt ! important;}
.missouri .The-Divorce ol{margin-left:60px ;}
.missouri{margin-left:20px;}
.missouri p b a{color:#000;}
	.back-last-top{text-align: center;
padding-bottom: 60px;
padding-top: 25px; border-bottom: 1px dotted #000;}
.missouri i{color:#000;}
.missouri a{color:#000;}
.missouri h4{line-height: 1.3em;}
.back-last-top .fa.fa-arrow-circle-o-up {
    font-size: 13pt;
    color: #000;
}
.new-stro{color: #256CAA;}
.color-ind{color: rgba(50,50,50,0.75);}
.loginBtn {
  box-sizing: border-box;
  position: relative;
  /* width: 13em;  - apply for fixed size */
  margin: 0.2em;
  padding: 0 15px 0 46px;
  border: none;
  text-align: left;
  line-height: 34px;
  white-space: nowrap;
  border-radius: 0.2em;
  font-size: 16px;
  color: #FFF;
}
.loginBtn:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 34px;
  height: 100%;
}
.loginBtn:focus {
  outline: none;
}
.loginBtn:active {
  box-shadow: inset 0 0 0 32px rgba(0,0,0,0.1);
}


/* Facebook */
.loginBtn--facebook {
  background-color: #4C69BA;
  background-image: linear-gradient(#4C69BA, #3B55A0);
  /*font-family: "Helvetica neue", Helvetica Neue, Helvetica, Arial, sans-serif;*/
  text-shadow: 0 -1px 0 #354C8C;
}
.loginBtn--facebook:before {
  border-right: #364e92 1px solid;
  background: url('../img/icon_facebook.png') 6px 6px no-repeat;
}
.loginBtn--facebook:hover,
.loginBtn--facebook:focus {
  background-color: #5B7BD5;
  background-image: linear-gradient(#5B7BD5, #4864B1);
}


/* Google */
.loginBtn--google {
  /*font-family: "Roboto", Roboto, arial, sans-serif;*/
  background: #DD4B39;
}
.loginBtn--google:before {
  border-right: #BB3F30 1px solid;
  background: url('../img/icon_google.png') 6px 6px no-repeat;
}
.loginBtn--google:hover,
.loginBtn--google:focus {
  background: #E74B37;
} 
.bt-l:hover{background-color:#4676fa ; border-color:#4676fa ; color:#fff;}
.new-popup1 .btn.btn-default:hover{background-color:#4676fa ; border-color:#4676fa ; color:#fff;}
.loginBtn{width:100%;}
.popup-border{text-align: center;
margin-bottom: 5px !important;
float: left;
width: 100%;
margin-top: 5px;
font-size: 19px;
color: blue;}
.modal-footer1{padding:28px;}

@media only screen and (max-width:767px)
{
	#services{background-size:100% 100%;}
	#services h1{font-size:22px;}
	#services h3{font-size:18px;}
	#services h2{font-size:20px;}
	.inner-menu{margin-top:15px; width:100%;}
	.inner-menu li{width:100%; float:left;}
	#services img {max-width: 100%; width: 100%; margin-bottom: -20px; margin-top: 22px;}
	.floatr{margin-left:0; margin-bottom: 15px;}
	.box-pera p{float:left; width:100%;}
	#features .section-header{background-size:100%;}
	.numeb{text-align:center; margin-top:7px;}
	.numeb1{text-align:center;}
	.SectionPart h6{border-right:0; margin-bottom:10px; padding-bottom:5px;}
	.silt-box{width:100%; float:left; margin-top:0;}
	.silt-box .littlemenu{text-align:center;}
	.bigone{margin-top:0; margin-left:0; max-width: 100%; width: auto;}
	#features1 .section-header img{max-width:100%;}
	.bigone1 {margin-top: 0; margin-left: 0; max-width: 100%; width: auto;}
	#moon .section-header{background-size:100%; padding:175px 0 0; height:354px;}
	#moon .section-header1{margin-bottom:10px;}
	.box-pera-1{margin-top:10px;}
	.box-pera-1 p{margin:auto;}
	.floatr.floatr1{margin-left:0; margin-top:15px;}
	.bigone2 {margin-top: 0; margin-left: 0; width: auto; max-width: 100%;}
	#md-1010 .section-header{padding-top:204px; margin-bottom: 0;}
	.header-new{width:100%;}
	.text-uppercase-new{padding:0;}
	.section-title-new{margin-top:-106px;}
	#md-1012 .section-header{padding:138px 0;}
	#md-1012{padding-bottom:40px;}
	#md-101 .section-header{padding:184px 0;}
	.pera-left{float:left; width:100%; margin-top:30px;}
	.right-pd1 p{margin-left:0;}
	.crton-box{width:100%;}
	#gbooks{position:relative; margin-left:0;}
	.boxsec-1 p{margin-left:0; padding:10px; }
	#pod .section-header p{margin:30px 0;}
	#pod .vs-section img{margin-top:10px;}
	#pod .silt-box{margin-top:50px;}
	.money-section{padding:1.4em 0; background-size:100%;}
	#fees .section-header{padding:22em 0;}
	.im-10{margin-left:0;}
	.im-12 {margin-left: 0;}
	.faded.im-11 {margin-left: 0;}
	.bigone3 {margin-left: 0px !important;}
	.dwi-title img{max-width:40% !important;}
	.dw-pe-y{width:100%;}
	.dwi-title{position:relative; width:100%;}
	.header-new2{width:100%;}
	.floatr.floatr2 h4{text-align:right !important;}
	.floatr.floatr2 h5{text-align:right;}
	#md-102dw .section-header{background-position:top; margin-top: -182px;}
	.dwi-55-top{margin-top:0px !important;}
	#md-102dw .section-header .section-title{font-size: 30px !important;}
	.introtwo{width:100%;}
	.div-col-sm{padding-left:15px;}
	.dwi-s-89p p{float:left; width:100%;}
	.dwi-new-box{padding:10px; width:100%;}
	.leftdw-col{margin-left:0; padding:10px; margin-top:20px;}
	.rightdwo-co{margin-right:0; padding:10px; margin-top:20px;}
	.dwi-dwi-box-n{width:100%;}
	#md-102bw .section-header{background-position:top; margin-top:-164px; padding-top:200px; padding-bottom:0;}
	#md-10112 .section-header{background-position:top; margin-top: -187px; padding:165px 0 10px;}
	footer .map-icons img{max-width:60%; margin-bottom:-336px;}
	
}

.loginBtn {
  box-sizing: border-box;
  position: relative;
  /* width: 13em;  - apply for fixed size */
  margin: 0.2em;
  padding: 0 15px 0 46px;
  border: none;
  text-align: left;
  line-height: 34px;
  white-space: nowrap;
  border-radius: 0.2em;
  font-size: 16px;
  color: #FFF;
}
.loginBtn:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 34px;
  height: 100%;
}
.loginBtn:focus {
  outline: none;
}
.loginBtn:active {
  box-shadow: inset 0 0 0 32px rgba(0,0,0,0.1);
}


/* Facebook */
.loginBtn--facebook {
  background-color: #4C69BA;
  background-image: (#4C69BA, #3B55A0);
  /*font-family: "Helvetica neue", Helvetica Neue, Helvetica, Arial, sans-serif;*/
  text-shadow: 0 -1px 0 #354C8C;
}
.loginBtn--facebook:before {
  border-right: #364e92 1px solid;
  background: url('../img/icon_facebook.png') 6px 6px no-repeat;
}
.loginBtn--facebook:hover,
.loginBtn--facebook:focus {
  background-color: #5B7BD5;
  background-image: (#5B7BD5, #4864B1);
}


/* Google */
.loginBtn--google {
  /*font-family: "Roboto", Roboto, arial, sans-serif;*/
  background: #DD4B39;
}
.loginBtn--google:before {
  border-right: #BB3F30 1px solid;
  background: url('../img/icon_google.png') 6px 6px no-repeat;
}
.loginBtn--google:hover,
.loginBtn--google:focus {
  background: #E74B37;
}


@media only screen and (max-width:991px){
	nav.navbar .container{width:100%;}
	nav.navbar .nav li  a{padding:10px 7px;}
	#services{background-size:100% 100%;}
	#services h1{font-size:22px;}
	#services h3{font-size:18px;}
	#services h2{font-size:20px;}
	#services img{margin-bottom:-54px;}
	.floatr{width:100%;}
	.floatr a{word-wrap: break-word;}
	.rightdwo-co{margin-right:-77px;}
	.leftdw-col{margin-left:-77px;}
	footer .map-icons{top:-289px;}
	.underpage{width:100%;}
	.be-pdwi{font-size:14px;}
	.new-ul-star ul{margin-left:15px;}
	.back-last-top{float:left; width:100%;}
	.missouri .The-Divorce ol{padding-left:0; margin-left:0;}
	.missouri .recaps-one{margin-left:0 !important;}
	
}

@media only screen and (max-width:1199px){
	nav.navbar .nav li  a{padding:10px;}
	#services{background-size:100% 100%;}
	#services img{margin-bottom: -68px;}

}
span.payment-errors {
    color: #FF0000;
    margin: 10px 0px 10px 0px;
    padding: 10px 0;
}
.step1 .progress-bar {
    color: #000;
    margin-left: 10px;
}
.nextbtn:hover,.backbtn:hover
{
	background-color:#256CAA;
	color:#FFFFFF !important;
}
/*#carttable {
    width:300px;
    position:static;
}
#carttable.scrolling {
    position:fixed;
    top:0px;
}*/
.loginBtn--guest {
    background: #4b933b;
}
.loginBtn--guest:before {
    border-right: #4f7f44 1px solid;
    background: url(../img/icon_guest.png) 6px 6px no-repeat;
}